body.account-settings .account-settings,
body.account-password .account-password,
body.account-delete .account-delete {
    @include plain-hover-focus {
      color: $component-active-color;
      cursor: default;
      background-color: $component-active-bg;
    }
}
